<p>
card-joe works!
</p>
<mat-card>Simple card</mat-card>

<!-- notes
5. see app component 
- all is OK when app-card-joe is commented out,
  - but stuff goes to crap when not!

4. try importing MatCardModule, not MatCard
  - from https://stackblitz.com/angular/mjbaqpjpxqn?file=src%2Fapp%2Fcard-overview-example.ts
1. https://stackoverflow.com/questions/57184657/angular-material-does-not-seem-to-work-in-stackblitz

2. [unexpected directive imported by the module please add a @ngmodule annotation](https://stackoverflow.com/questions/56723419/unexpected-directive-imported-by-the-module-please-add-a-ngmodule-annotation)

3. original source (https://stackblitz.com/edit/angular-material-2rpbxl)

 -->



<!-- 
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
 -->
